@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
:root{
  --blue-base: #292F3F;
  --white-text: #FFFFFF;
  --blue-button: #03A9F1;
  --grey-button: #565E70;
  --grey-button2: #373E4E;
  --grey-button3: #272A35;
  --black-base: rgba(0, 0, 0, .25);
  --canvas: #E5E5E5;
}
body{
  background-color: var(--canvas);
}
.rl-padding{
  padding: 0 25px;
}
.container{
  height: 812px;
  width: 375px;
  margin: 0 auto;
  border-radius: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--blue-base);
}
.container-shadow{
  box-shadow: 0px 0px 100px 0px rgba(24,48,63,0.5);
  -webkit-box-shadow: 0px 0px 100px 0px rgba(24,48,63,0.5);
  -moz-box-shadow: 0px 0px 100px 0px rgba(24,48,63,0.5);
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 51px;
  padding-bottom: 20px;
  width: -webkit-fill-available;
  justify-content: space-between;
}
.header .info{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-pict{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}
.text-username{
  color: var(--white-text);
  font-size: 20px;
  margin-left: 13px;
}
.button-default{
  height: 40px;
  background-color: var(--blue-button);
  color: var(--white-text);
  border-radius: 10px;
  font-size: 15px;
  border: none;
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer;
}
.button-chat{
  height: 40px;
  width: 40px;
  background-color: var(--grey-button2);
  color: var(--white-text);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.w-100{
  width: 100%;
}
.create-group{
  padding-bottom: 12px;
}
.subtitle{
  font-size: 20px;
  color: var(--white-text);
  margin-left: 10px;
}
.rooms, .users{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.room-list, .user-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 0;
}
.text-regular{
  font-size: 15px;
  color: var(--white-text);
}
.last-message{
  font-size: 13px;
  color: var(--white-text);
  opacity: .4;
}
.room-list .room-info{
  margin-left: 16px;
}
.change-user{
  padding-left: 10px;
  padding-right: 10px;
}
.form-container{
  margin-top: 48px;
  display: flex;
  flex-direction: column;
}
.input-text{
  height: 12px;
  margin-bottom: 16px;
  width: -webkit-fill-available;
  border-radius: 5px;
  border: none;
  padding: 20px 16px;
  background-color: var(--black-base);
  color: rgba(255, 255, 255, .6);
  font-size: 14px;
  outline: none;
}
.participant-list{
  display: flex;
  flex-direction: row;
  padding-bottom: 14px;
}
.chat-panel .top{

}
.chat-panel .mid{
  height: 540px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.chat-panel .mid::-webkit-scrollbar { 
  display: none;
}
.chat-panel .bottom{
  padding-top: 14px;
  padding-bottom: 51px;
}
.send-message-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.input-message{
  background-color: var(--black-base);
  height: 40px;
  border-radius: 10px;
  color: var(--white-text);
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 8px;
  width: 255px;
  outline: none;
}
.bubble-chat-container{
  display: flex;
  margin-bottom: 12px;
}
.chat-container-right{
  justify-content: flex-end;
}
.chat-container-left{
  justify-content: flex-start;
}
.bubble-chat{
  border-radius: 20px;
  color: var(--white-text);
  padding: 12px 14px;
  max-width: 250px;
}
.buble-right{
  background-color: var(--grey-button3);
}
.buble-left{
  background-color: #373E4E;
  position: relative;
  margin-left: 10px;
  padding-left: 22px;
}
.buble-left img{
  position: absolute; /* Position the badge within the relatively positioned button */
  bottom: 0;
  left: -10px;
}

/* icons */
.material-symbols-outlined {
  font-size: 20px !important;
  margin-top: 3px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}